doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='puttin the pussy on the chainwax')
    meta(name='author', content='joshua a bertsche')
    link(href='/stylesheets/main.css', rel='stylesheet', media='screen')
    link(rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css")
  body
    #container1
      #title
        h1 The Lyrebird
        //#bird
          img(src="/images/lyrebird.jpg")
        //h2 (aka Retweetwee...)
        #quote
          p
          dfn <font size="2">"A lyrebird is either of two species of ground-dwelling Australian birds, that form the genus, Menura, and the family Menuridae. </font><b>They are most notable for their superb ability to mimic natural and artificial sounds from their environment.</b><font size="2">" - some person on Wikipedia</font>
          p
          p ---
          dfn <b>"I don't get Twitter. What do you write? I mean, what's the point anyway?"</b><font size="2"> - some person on the telephone</font>
          p
      #container2
        #tweetdiv
          textarea#tweet(rows="5", readonly)
        #choices
          p: a(href='javascript:void(0)', title='1')#choice1
          p: a(href='javascript:void(0)', title='2')#choice2
          p: a(href='javascript:void(0)', title='3')#choice3
          p: a(href='javascript:void(0)', title='4')#choice4
          #loading loading...
        #postbutton
          #count (0/140)
          button#postTweet(type='button') Post to @the_lyrebird1
      //p: strong |
      //p: strong |
      //p: strong |
      //p: strong |
      //p: strong V
      #twitter_timeline
        a(class="twitter-timeline", data-dnt="true", href="https://twitter.com/retweetwee", data-widget-id="487761719066759168", data-chrome="transparent") Tweets by @retweetwee
        //script(src='javascripts/embedded_timeline.js')

    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='http://code.jquery.com/ui/1.11.0/jquery-ui.js')
    script(src='javascripts/main.js')
    script(src='javascripts/embedded_timeline.js')