doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    meta(name='description', content='making the internet more confusing, one tweet at a time')
    meta(name='author', content='joshua a bertsche')
    link(href='stylesheets/main.css', rel='stylesheet', media='screen')
    link(href='stylesheets/tooltipster.css', rel="stylesheet")
    link(href='stylesheets/minEmoji.css', rel='stylesheet')
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/embedded_timeline.js')
    script(src='javascripts/jquery.tooltipster.min.js')
    script(src='javascripts/jMinEmoji.js')
    script(src='javascripts/main.js')
  body
    #container1
      b#title The Lyrebird
      #quote
        p <font size="2"><i>"A lyrebird is either of two species of ground-dwelling Australian birds, that form the genus, Menura, and the family Menuridae. </font><b>They are most notable for their superb ability to mimic natural and artificial sounds from their environment.</b><font size="2">"</i><br> - a person posting on Wikipedia</font>
        p ---
        p <i><b>"I don't get Twitter. What do you write? I mean, what's the point anyway?"</b></i><font size="2"><br> - a friend speaking on the telephone</font>
    #container2
      #container3
        #tweetdiv
          p#tweet
          p#intro Chose a word from below to begin.
        #choices
          #loading loading...
        //#more: a(href='javascript:void(0)') >>
        #postbutton
          p#count
          button#postTweet Post to @the_lyrebird1
          #huh: a(href="#about", title="about") ?
          #restart: a(href="javascript:void(0)", title="restart") x
      //#timeline
        #timeline-insides
      .twitter-timeline(data-dnt="true", data-widget-id="487761719066759168", data-chrome="nofooter")
      #about
        p: b *So, what's going on here?
        p Each time you pick a word, the server searches Twitter for 4 recent instances of that word and, for each, returns the following word (which make up the 4 new choices). This way, each pair of consecutive words in your post have been posted as part of a tweet by someone somewhere at some point within the last couple hours.
        br
        br
        p (This site uses <a href="https://github.com/rodrigopolo/minEmoji">MinEmoji</a> by Rodrigo Polo in order to display emoji in Google Chrome.)