body {
  background-image:url('/images/twitterClouds3.png');
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  min-width: 850px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #0084B4;
}

a:hover {
  text-decoration: underline;
}

.toolTip {
  color: #F1F4F6;
}

#title {
  font-size: 90px;
  margin: 25px;
}

#container1 {
  background-image:url('/images/lyrebird4.jpg');
  background-size: 100% 100%;
  margin: 20px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}

#quote {
  width: 590px;
  margin: 20px auto;
  /*color: #0000EE;*/
  background-color: #F5F8FA;
  border: inherit;
  border-radius: inherit;
  opacity: 0.8;

}

#container2 {
  width:590px;
  margin: 20px auto;
}

#container3 {
  margin: inherit;
  background-color: #F9F9F9;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}


#tweetdiv {
  /*min-height: 49px;*/
  min-height: 136px;
  margin: 10px 10px 20px;
  border: inherit;
  border-radius: inherit;
  background-color: #ffffff;
  text-align: left;

}

#tweet {
  font-size:25px;
  margin: 10px;
}

#intro {
  font-size:25px;
  margin: 30px;
  color: grey;
  text-align: center;
}

#choices {
  min-height: 152px;
  margin: auto;
  padding: 0px 40px;
  overflow: scroll;
  z-index: -1;
}

.choice {
  font-size: 25px;
  vertical-align: middle;
  line-height: 130%;
}

#count {
  font-size: 17px;
  margin: 0px 100px;
}

#postbutton{
  margin: 15px 0px 10px;

}
button {
  border-radius: 5px;
  border: 1px solid #E1E8ED;
  background: linear-gradient(#FFFFFF, #F5F8FA);
  font-size: 25px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(#FFFFFF, #E1E8ED);
}

button:active {
  box-shadow: 0px 0px 5px 5px #D5DCE1 inset;
}

#huh {
  float: right;
  font-size: 25px;
  position: relative;
  right: 25px;
  text-decoration: none;
}

#restart {
  float: left;
  font-size: 25px;
  position: relative;
  left: 25px;
  text-decoration: none;
}

#more {
  float: right;
  font-size: 25px;
  text-decoration: none;
  position: relative;
  right: 20px;
  top: -90px;
  z-index: 1;
}

#timeline {
  height: 400px;
  background-color: #F5F8FA;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}

#timeline-insides {
  height: 356px;
  background-color: #ffffff;
  border-top: 1px solid #E3E3E3;
  z-index: 2;
  position: relative;
  top: 44px;
}

.twitter-timeline {
  height: 400px;
}

#loading {
  font-size: 25px;
}

#about {
  margin: inherit;
  padding: 0px 16px;
  background-color: #F5F8FA;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  opacity: 0.7;
  text-align: left;
}