body {
  background-image:url('/images/twitterClouds.png');
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-size: 75px;
  margin: 0px auto;
  /*color: #0000EE;*/
  margin-top: 25px;
}


#container1 {
  padding: 20px 0px;
  text-align: center;
  margin: -10px auto;
  width:760px;
  /*height: 1300px;*/
  /*background-color: #C0DEED;
  /*border-radius: 5px;*/
}

#bird {
  margin-top: -50px;
}

#title {
  background-image:url('/images/lyrebird.jpg');
  /*background-color: #F5F8FA;*/
  margin: 0px auto;
  border: 1px solid;
  border-radius: 5px;
  border-color:#E3E3E3;
}

#quote {
  width: 520px;
  margin: 30px auto 20px;
  /*color: #0000EE;*/
  background-color: #FFFFFF;
  border: 1px solid;
  border-radius: 5px;
  border-color:#E3E3E3;

}

#container2 {
  text-align: center;
  width:520px;
  margin: 20px auto 0px;
  background-color: #F5F8FA;

  border: 1px solid;
  border-radius: 5px;
  border-color:#E3E3E3;
}

#tweetdiv {
  margin: 10px auto;

}

#tweet {
  width: 490px;
  font-size:25px;
  resize: none;
  text-align: center;
}

#choices {
  height: 180px;
  width: 520px;
  margin: 0px auto;
}

#postbutton{
  margin: 10px auto;
}

#twitter_timeline{
  margin: 20px auto;
}

#choice1, #choice2, #choice3, #choice4, #loading {
  font-size: 25px;
}

#postTweet {
  font-size: 25px;
}